body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  
  background-color: #f2f2f2;
}

.button {
  font-family: inherit;
  font-size:21px;
  font-weight: bold;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;

  background-color: #82b3d3;
}

.button:hover {
  color:#ffffff;
  background-color: #669ec1;
}

.button:active {
  color: #82b3d3;
  background-color: #5596be;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #82b3d3;
}

a:active {
  color: #dddddd;
}

.container {
  background-color: #ffffff;
}

.main-navigation {
  font-weight: bold;
  background-color: #ffffff;
}

.main-navigation .site-navigation {
  list-style: none;
}

.about-sedona .title {
  font-size: 21px;
  font-weight: bold;
}

.features-list {
  line-height: 21px;
  list-style: none;
}

.features-list h3 {
  font-size: 21px;
}

.feature-1 {
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-3 {
  background-color: #f2f2f2;
}

.form-intro .title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.form-intro .description {
  line-height: 24px;
  font-weight: normal;
}

.form-intro .button {
  color: #ffffff;
  background-color: #766357;  
}

.form-intro .button:hover {
  background-color: #604e44;
}

.form-intro .button:active {
  color: #928982;
  background-color: #503e32;
}

.form {
  font-weight: bold;  
}

.form fieldset {
  border: none;
}

.form legend {
  font-size: 21px;
  
  color: #ffffff;
  background-color: #766357;  
}

.form .date,
.form .number {
  font-weight: bold;
  text-transform: uppercase;
  
  background-color: #f2f2f2;
  padding:5px;
}

.form .date:hover,
.form .number:hover {
  background-color: #ebebeb;
}

.form .date:focus,
.form .number:focus {
  background-color: #ffffff;
}

.tag {
  font-size: 21px;
  font-weight: bold;
}

.social-list {
  list-style: none;
}

.copyright .button {
  color: #000000;
  background-color: #ffffff;
}

.copyright .button:hover {
  color: #82b3d3;  
}

.copyright .button:active {
  color: #dddddd;  
}

.site-navigation-current {
  color: #766357;
}

.filters {
  color: #ffffff;
  
  background-color: #81b3d2;
  background-image: url(/img/hotels_background.jpg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter fieldset {
  border: none;
}
  
.filter-group {
  text-align: left;
}

.filter-group ul {
  list-style: none;
}

.filter .checkbox:disabled {
  color:#6a6a6a;  
}

.sort {
  font-size: 12px;
  line-height: 18px;
}

.sort .found {
  font-size: 21px;
  font-weight: bold;
}

.sort ul {
  list-style: none;
}

.sort-list-current {
  color: #82b3d3;
}

.sort-list .sort-item {
  color: #dddddd;
  border-bottom: 1px dotted #82b3d3;
}

.sort-list .sort-item:hover {
  color: #82b3d3;
}

.sort-list .sort-item:active {
  color: #000000;  
  border-bottom: none;
}

.list-order-current {
  color: #82b3d3;
  border-bottom: none;
}

.sort-list .order {
  color: #dddddd;
}

.sort-list .order:hover {
  color: #000000;
}

.sort-list .order:active {
  color: #82b3d3;
}

.hotel-description h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.hotel-description h3:hover {
 color: #82b3d3; 
}

.hotel-description h3:active {
 color: #dddddd; 
}

.hotel-description .book-button {  
  font-family: inherit;
  font-size:21px;
  font-weight: bold;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  
  background-color: #766357;   
}

.hotel-description .book-button:hover {
  background-color: #604e44;
}

.hotel-description .book-button:active {
  color: #928982;
  background-color: #503e32;
}

.hotel-stars {
  color: #82b3d3;
}

.rating {
  color: #8b8b8b;
  background-color: #f2f2f2;
}























