body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button:hover {
  color: #ffffff;
  background-color: #669ebf;
}

.button:active {
  color: #82b3d3;
  background-color: #5596be;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #82b3d3;
}

a:active {
  color: #dddddd;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 1200px;
  height: auto;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 35px #a9a9a9;
          box-shadow: 0 0 35px #a9a9a9;
}

.logo {
  position: absolute;
  top: 0;
  left: 530px;
  height: 70px;
  width: 138px;
  z-index: 1;
}

.site-navigation {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  padding-left: 72px;
  padding-right: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.site-navigation li {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 16px;
  width: 241px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
  padding-right: 3px;
}

.site-navigation-current {
  color: #766357;
}

.intro {
  position: relative;
  background-image: url("../img/intro-image.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-size: cover;
  height: 508px;
  background-position: 0 21%;
}

.intro::after {
  content: "";
  position: absolute;
  top: 451px;
  left: 0;
  background-image: url(../img/intro-block.png);
  background-repeat: no-repeat;
  width: 1200px;
  height: 57px;
}

.intro-image {
  margin-right: auto;
  margin-left: auto;
  padding-top: 75px;
  padding-bottom: 80px;
  width: 458px;
  height: 352px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.features-intro .title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 28px;
  width: 440px;
  font-size: 21px;
  font-weight: bold;
}

.features-intro .description {
  margin: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.feature-list,
.advice-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.feature-content h3 {
  width: 151px;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
}

.feature-item.blue,
.feature-item.blue-second {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-item.blue-second {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.feature-image {
  width: 800px;
  height: 256px;
  margin: 0;
}

.feature-content.blue {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 48px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  line-height: 21px;
}


.feature-content p {
  margin: 0;
  margin-top: 22px;
}

.feature-content span,
.advice-content p {
  margin: 0;
  padding: 0;
}

.advice-content {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 162px;
  padding-bottom: 83px;
  line-height: 21px;
}

.advice-content h3 {
  margin: 0 auto;
  margin-bottom: 23px;
  margin-left: auto;
  margin-right: auto;
  font-size: 21px;
}

.advice-house::before {
  content: "";
  position: absolute;
  font-size: 0;
  top: 58px;
  left: 161px;
  width: 76px;
  height: 76px;
  background-image: url(../img/icon-house.svg);
  background-repeat: no-repeat;
  background-size: 76px 76px;
}

.advice-food::before {
  content: "";
  position: absolute;
  font-size: 0;
  top: 58px;
  left: 162px;
  width: 76px;
  height: 76px;
  background-image: url(../img/icon-food.svg);
  background-repeat: no-repeat;
  background-size: 76px 76px;
}

.advice-gift::before {
  content: "";
  position: absolute;
  font-size: 0;
  top: 56px;
  left: 162px;
  width: 76px;
  height: 76px;
  background-image: url(../img/icon-gift.svg);
  background-repeat: no-repeat;
  background-size: 76px 76px;
}

.feature-list.brown {
  background-color: #eeeeee;
}

.feature-content.brown {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  padding-left: 66px;
  padding-right: 66px;
  padding-top: 47px;
  padding-bottom: 62px;
  line-height: 21px;
}

.form-intro {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-intro .title {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

.form-intro .description {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  font-weight: normal;
  line-height: 24px;
}

.form-intro .button {
  display: inline-block;
  margin: 0;
  padding-left: 139px;
  padding-right: 139px;
  padding-top: 31px;
  padding-bottom: 31px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.form-intro .button:hover {
  background-color: #604e44;
}

.form-intro .button:active {
  color: #928982;
  background-color: #503e32;
}


@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-395px);
            transform: translateY(-395px);
  }

  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}


@keyframes bounce {
  0% {
    -webkit-transform: translateY(-395px);
            transform: translateY(-395px);
  }

  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-form {
  position: absolute;
  top: 2168px;
  left: 26.35%;
  z-index: 2;
  margin: 0;
  width: 458px;
  padding: 55px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px #a9a9a9;
          box-shadow: 0 0 20px #a9a9a9;
}

.modal-close {
  display: none;
  -webkit-animation: bounce 0.9s;
          animation: bounce 0.9s;
}  

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-form input::-webkit-input-placeholder {
  color: #000000;
}

.modal-form input::-moz-placeholder {
  color: #000000;
}

.modal-form input:-ms-input-placeholder {
  color: #000000;
}

.modal-form input:-moz-placeholder {
  color: #000000;
}

input:placeholder {
  color: #000000;
}

.date-field {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date-field label {
  margin-right: auto;
}

.date-field input {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 11px;
  padding-right: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 345px;
  font: inherit;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.date-field input:hover {
  background-color: #ebebeb;
} 

.date-field input:focus {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 7px;
  background: transparent;
  border: 2px solid #ebebeb;
} 

.calendar-icon {
  content: "";
  position: absolute;
  margin: 0;
  top: 7px;
  left: 422px;
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
}

.calendar-icon path {
  fill: #a9a9a9;
}

.calendar-icon:hover path {
  fill: #000000;
}

.calendar-icon:active path {
  fill: #82b3d3;
}

.number-wrapper {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number-field {
  width: 230px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-buttons-wrapper {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-buttons-wrapper input,
.form-buttons-wrapper button {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 38px;
  font: inherit;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
}

.form-buttons-wrapper button {
  font-family: inherit;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #a9a9a9;
}

.form-buttons-wrapper button:hover {
  color: #000000;
}

.form-buttons-wrapper button:active {
  color: #82b3d3;
}

.children-label {
  margin-left: 50px;
}

.adults-wrapper {
  margin-right: 3px;
}

form .button {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 53px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 17px;
  padding-bottom: 15px;
  width: 100%;
  color: #ffffff;
  background-color: #81b3d2;
}

.map {
  width: 100%;
  min-height: 585px;
  background-image: url(../img/map.png);
  background-color: #cee0ac;
  background-size: cover;
}

.footer-wrapper {
  width: 100%;
  margin: 0;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
}

.footer-wrapper.index-page {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 2;
  margin: 0;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.tag {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  margin-top: 46px;
  margin-left: 132px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 239px;
  margin-right: 208px;
  list-style: none;
}

.social-list span {
  margin: 0;
  padding: 0;
}

.social-list .button {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #82b3d3;
  border: none;
}

.social-list .button:hover {
  background-color: #669ebf;
}

.social-list .button:active {
  background-color: #5596be;
}

.social-list .button:active path {
  fill: #82b3d3;
}

.copyright {
  margin: 0;
  margin-right: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.copyright span {
  margin-left: 3px;
}

.copyright-button {
  display: block;
  margin: 0;
  width: 115px;
  height: 41px;
  background-color: #ffffff;
}

.copyright-button path {
  fill: #000000;
}

.copyright-button:hover path {
  fill: #82b3d3;
}

.copyright-button:active path {
  fill: #dddddd;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 32px;
  padding-left: 72px;
  padding-right: 72px;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url(../img/hotels-background.jpg);
  background-repeat: no-repeat;
  background-position: 0 17%;
  background-size: cover;
}

.filter-group {
  margin: 0;
  padding: 0;
  margin-right: 115px;
  border: none;
  text-align: left;
}

.filter-group:last-child {
  width: 317px;
  margin: 0;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter legend {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
  text-align: left;
}

.filter-group ul {
  margin: 0;
  list-style: none;
}

.option-list {
  list-style: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.option {
  margin: 0;
  margin-top: 25px;
}

.option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 26px;
  height: 25px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 26px;
  height: 25px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox:focus + label::after {
  outline: 1px solid #6b9cc4;
}

.checkbox:disabled + label::after {
  opacity: 0.4;
}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.price-controls .min-price {
  margin-right: 100px;
  margin-left: 62px;
}

.price-controls input {
  width: 30px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: #ffffff;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  padding: 2px 2px;
  background: #cacaca;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cccccc;
          box-shadow: 0 2px 1px 0 #cccccc;
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #ababab;
}

.button-transparent {
  display: block;
  margin: 0 auto;
  margin-right: 97px;
  padding: 6px 30px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.button-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sort-form {
  font-size: 12px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 35px;
  padding-right: 72px;
  padding-bottom: 34px;
  padding-left: 72px;
  border-bottom: 1px solid #e1e1e1;
}

.found {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  margin-right: 47px;
}

.sorting {
  margin: 0;
}

.sort-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 776px;
  list-style: none;
}

.sort-list li:nth-child(4) {
  margin-left: auto;
  margin-right: 12px;
  border: none;
}

.sort-list li:last-child {
  margin: 0;
  border: none;
}

.sort-item a {
  margin-right: 33px;
  color: #dddddd;
  border-bottom: 1px dotted #82b3d3;
}

.sort-current a {
  color: #82b3d3;
  border-bottom: none;
}

.sort-item a:hover {
  color: #82b3d3;
}

.sort-item a:active {
  color: #000000;
  border-bottom: none;
}

.order a path {
  fill: #c9c9c9;
}

.order a:hover path {
  fill: #000000;
}

.order a:active path {
  fill: #82b3d3;
}

.order-current a path {
  fill: #82b3d3;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-item {
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 31px;
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
}

.hotel-image {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  width: 135px;
  height: 90px;
}

.hotel-description {
  margin: 0 auto 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hotel-description h3 {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.hotel-description h3:hover {
  color: #82b3d3;
}

.hotel-description h3:active {
  color: #dddddd;
}

.hotel-column-wrapper {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  margin-right: 7px;
}

.hotel-column span {
  margin-top: 4px;
  margin-bottom: 12px;
}

.hotel-column a {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  display: inline-block;
  margin: 0;
  padding-left: 17px;
  padding-right: 16px;
  padding-top: 2px;
  padding-bottom: 4px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border: none;
  background-color: #82b3d3;
}

.button.book {
  background-color: #766357;
}

.button.book:hover {
  background-color: #604e44;
}

.button.book:active {
  color: #928982;
  background-color: #503e32;
}

.hotel-class {
  position: relative;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.rating {
  color: #8b8b8b;
  background-color: #f2f2f2;
  padding-left: 14px;
  padding-right: 13px;
}

.hotel-class::before {
  content: "";
  position: absolute;
  font-size: 0;
  top: 4px;
  left: 17px;
  background-image: url(../img/star.svg);
  background-repeat: repeat space;
  background-size: contain;
  width: 100px;
  height: 17px;
}

.three-stars::before {
  left: 44px;
  width: 70px;
}

.two-stars::before {
  left: 65px;
  width: 50px;
}